<p>pipes-in-interpolation works!</p>

<h2>{{name}}</h2>
<h2>{{name | lowercase}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | titlecase}}</h2>
<h2>{{name | slice:3:5}}</h2>
<h2>{{name | json}}</h2>
<h2>{{anotherName | number:'1.2-3'}}</h2>
<h2>{{anotherName | number:'3.4-5'}}</h2>
<h2>{{anotherName | number:'3.1-2'}}</h2>
<h2>{{cur | percent}}</h2>
<h2>{{name}}</h2>

<h2>{{cur | currency}}</h2>
<h2>{{cur | currency:'GBP':'code'}}</h2>
<h2>{{cur | currency:'EUR':'code'}}</h2>
<h2>{{date}}</h2>

<h2>{{date | date:'short'}}</h2>
<h2>{{date | date:'shortDate'}}</h2>
<h2>{{date | date:'shortTime'}}</h2>
<h2>{{date | date:'mediumDate'}}</h2>
<h2>{{date | date:'longDate'}}</h2>