<h1>Angular</h1>
<courses></courses>

<p class="app-course"></p>

<p app-class-bind></p>

<app-style-bind></app-style-bind>

<p class="app-event-binding"></p>

<p app-template-reference-variable></p>

<app-two-way-binding></app-two-way-binding>

<p class="app-if-ng-if"></p>

<p app-switch-ng-swtich></p>

<app-for-ng-for></app-for-ng-for>

<p class="app-component-interaction" [parentData]="name" (event)="dataChild=$event"></p>
<p>Data came from child component {{dataChild}}</p>

<p app-pipes-in-interpolation></p>

<app-employee-list></app-employee-list>